<body class="bg-gradient-to-l from-red-400 to-yellow-500">
  <%= render '/layouts/header' %>

  <section class="pt-20">
    <h1 class="text-white  text-3xl p-16"><%= current_user.name %>さん、こんにちは！</h1>
  </section>
  <section class="pt-20">
    <h1 class="text-white  text-3xl p-16">パラキャリからの告知</h1>
  </section>
  <section class="pt-20">
    <h1 class="text-white  text-3xl p-16">案件進捗状況</h1>
  </section>
  <section class="pt-20">
    <h1 class="text-white  text-3xl p-16"></h1>
  </section>
</body>